@import './reset';
@import './common';
@import './todo';
@import './animation';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    font-size: 16px;
    @media all and (max-width: 1366px) {
        font-size: 14px;
    }
    @media all and (max-width: 1024px) {
        font-size: 12px;
    }
    @media all and (max-width: 900px) {
        font-size: 10px;
    }
    @media all and (max-width: 768px) {
        font-size: 8px;
    }
    @media all and (max-width: 400px) {
        font-size: 8px;
    }
}
.head-wrap {
    position: relative;
    min-height: 90vh;
    background: url('../assets/main-bcg.jpg') center no-repeat;
    background-size: cover;  
}
.header, .header__logo, .header__nav, .header__item a, .info, .info__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #D0C7C7;
    padding: 10px 0;
    &__logo img {
        width: 120px;
    }
}
//Main
.main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-transform: uppercase;
    gap: 3.1rem 0;
    &__h2, &__h3, &__h1 {
        width: fit-content;
        border-radius: 5px;
        text-shadow: 10px 11px 20px black;
    }
    &__h2 {
        @include font-setting (700, 6rem, 3.75rem);
        background-color: $yellow;
        padding: 2rem;
    }
    &__h3 {
        @include font-setting (700, 3rem, 3.75rem);
        background-color: white;
        padding: 1rem;
    }
    &__h1 {
        @include font-setting (700, 9rem, 3.75rem);
        background-color: $blue;
        color: rgb(255, 255, 255);
        padding: 4rem 2rem 3rem;
        @media screen and (max-width: 480px) {
            font-size: 7rem;
        }
    }
    &__next {
        width: 10rem;
        background-color: white;
        border: 3px solid $blue;
        border-radius: 25px;
        align-self: center;
        text-align: center;
        position: absolute;
        bottom: -2rem;
    }
    &__next img {
        width: 3rem;
    }
    &__invincibility {
        @include font-setting (700, 3.1rem, 3.7rem);
        color: white;
        align-self: flex-end;
        text-shadow: 9px 5px 9px black;
        @media screen and (max-width: 768px) {
            margin-top: 20vh;
        }
    }
}
//About
.about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    margin: 2rem 0;
    min-height: 35vh;
    @media all and (max-width: 769px) {
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 45rem;
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem 0;
        max-width: 40rem;
        margin-bottom: 30px;
        @include font-setting (700, 2.5rem, 3rem);
    }
    &__text::before {
        content: '';
        margin-top: 10px;
        background: url('../assets/blue-ornament2.svg') no-repeat center;
        min-height: 7rem;
    }
    &__quote{
        text-shadow: 10px 11px 20px black;
    }
    &__h3 {
        @include font-setting (400, 3.1rem, 3.7rem);
        padding: 1.2rem 2rem;
    }
    &__ornament {
        width: 10rem;
        position: absolute;
        bottom: 0;
    }
}
//Separating blocks
.spacing {
    min-height: 20rem;
    background: center no-repeat;
    background-size: cover;
}
.spacing-one {
    background-image: url('../assets/spacing-one.jpg');
}
.spacing-two {
    background-image: url('../assets/note-book.jpg');
    box-shadow: inset 0px 0px 35px 4px rgba(0,0,0,0.45);
}
.spacing-three {
    background: url('../assets/sinevir.jpg') no-repeat center;
    background-size: cover;
}
.spacing-four {
    background-image: url('../assets/mriya.jpg');
}
.spacing-five {
    background-image: url('../assets/ukraine-fire.jpg');
    background-size: cover;
}
//Item
.item {
    min-height: 30vh;
    padding: 10px 0;
    &__wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 2rem;
        width: 100%;
        height: 100%;
        // overflow: hidden;
        @media all and (max-width: 769px) {
            flex-direction: column;
            gap: 20px 0;
        }
    }
    &__wrap_reverse {
        flex-direction: row-reverse;
        @media all and (max-width: 769px) {
            flex-direction: column-reverse;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50rem;
        &_first {
            background: url('../assets/blue-ornament1.svg') no-repeat center;
        }
        &_second {
            background: url('../assets/blue-ornament2.svg') no-repeat center;
            text-align: end;
        }
        &_third {
            background: url('../assets/ornament2.svg') no-repeat center;
            text-align: end;
        }
        @media all and (max-width: 769px) {
            width: 100%;
            gap: 20px 0;
        }
    }
    &__h3 {
        text-shadow: 10px 11px 20px black;
    }

    &__img-wrap {
        width: 45rem;
        height: inherit;
        @media all and (max-width: 769px) {
           width: 100%;
           height: 30vw;
        }
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 0px;
    }
    &__next {
        @media all and (max-width: 769px) {
            align-self: flex-end;
        }
    }
    &__next-reverse {
        align-self: flex-end;
        @media all and (max-width: 769px) {
            align-self: flex-start;
        }
    }
}
//Auth-Todo-list
.auth {
    padding: 40px 0;
    display: grid;
    grid-template-areas: 'auth-content auth-todo' 'auth-h3 auth-h3';
    gap: 40px;
    @media all and (max-width: 400px) {
        grid-template-areas: 'auth-content' 'auth-todo' 'auth-h3';
        justify-content: center;
    }
    &__content {
        grid-area: auth-content;
        max-width: 45rem;
        background: url('../assets/ornament2.svg') center;
    }
    &__h3 {
        grid-area: auth-h3;
        text-align: center;
        @include font-setting (700, 3.5rem, 3.5rem);
        justify-self: end;
    }
}
.auth-todo {
    grid-area: auth-todo;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    gap: 10px 0;
    border-radius: $b-radius;
    box-shadow: 20px 20px 120px #000;
    text-shadow: 10px 11px 20px black;
    &__text {
        border: 2px solid $black;
        padding: 1.2rem;
        border: 1px solid $blue;
        border-radius: $b-radius;
        font-size: 1.2rem;
    }
    &__login {
        border: none;
        color: $white;
        background-color: $blue;
        border-radius: 12px;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
        @media all and (max-width: 769px) {
            @include font-setting (700, 2rem, 2.1rem);
        }
    }
    &__login:active {
        transform: scale(0.98);
    }
}
//Support
.support {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    &__logo {
        max-width: 14rem;
        max-height: 6rem;
        transition: 0.2s ease;
    }
    &__logo:hover {
        transform: scale(1.05);
    }
}
//Feedback
.feedback {
    display: flex;
    justify-content: center;
    padding: 20px;
    &-wrap {
        background: url('../assets/field.jpg') no-repeat center;
        background-size: cover;
    }
    &__form {
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
        border-radius: $b-radius;
        color: $white;
        background-color: rgba(190, 190, 190, 0.685);
        box-shadow: 20px 20px 120px #000;
    }
    &__item {
        padding: 0 5px;
        border-radius: $b-radius;
        text-align: center;
    }
    &__text, 
    &__email {
        width: 100%;
        border-radius: $b-radius;
        border: 1px solid $blue;
        font-size: 1.2rem;
        padding: 1.2rem;
    }
    &__text {
        height: 7rem;
    }
}
//Footer
.footer {
    padding: 20px 10;
    width: 100%;
    display: grid;
    grid-template-areas: 'creator logo list';
    align-items: center;
    @include font-setting (500, 1.5rem, 1.8rem);
    @media all and (max-width: 769px) {
        grid-template-areas: 'logo list' 'creator creator';
        align-items: center;
        gap: 15px;
    }
    &__creator {
        grid-area: creator;
        background-size: contain;
        @media all and (max-width: 769px) {
            text-align: center;
        }
    }
    & a {
        text-align: center;
    }
    &__logo {
        width: 100px;
        grid-area: logo;
    }
    &__list {
        grid-area: list;
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 0 20px;
    }
    &__link img {
        width: 2rem;
    }
}
